*{
  margin: 0;
  padding: 0;
  
}
body {
  font-family: 'JetBrains Mono', monospace;
}

#main-div{
  width:100%;
  height: 100%;
}

.dark-theme{
  background: #000;
  color: #FFF;
}

.light-theme{
  background: #FFF;
  color: #000;
}


.primary-heading-h1{
  font-weight: 500;
}

.heading-dark{
  color: var(--greenAcent) !important;
}

.heading-light{
  color: var(--orange) !important;
}


/* colors */
:root{
  --goldenYellow:#EAB208;
  --goldenbYellowLight:#FACC15;
  --white:#fff;
  --black:#000;
  --greenAcent:#00FF99;
  --orange:#f97316;
  --blueAcent:#0077B5;
}
