.container{
    /* width: 200px;
    height: 100px;
    background: #fff; */
    display: flex;
}

.button{
    width: 50px;
    height: 25px;
    background: #fff;
    border-radius: 60px;
    position: relative;
}

.button::before{
    position: absolute;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #000;
    content: "";
    margin: 1px;
    transition: 0.2s ease-in;

}

input:checked + .button{
    background: #000;
}
input:checked + .button::before{
    background: #fff;
    transform: translateX(25px);
}
