
.home-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-main{
    display: flex;
    /* gap:16px; */
    flex-direction: row;
     @media (max-width:768px) {
        flex-direction: column;
        gap: 24px;
     }
}

.greetings{
    font-size: 60px;
}
.name-content{
    color: var(--greenAcent);
    font-size: 60px;
}
.right-profile-section{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.left-profile-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:16px;
}
.contact-section-homePage{
    display: flex;
    /* grid-template-columns: auto auto auto; */
    align-items: center;
    gap: 24px;
}
