.navbar-title {
  width: 300px;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width:768px) {
    width: calc(100% - 38px);
  }
}
.navbar-title-dark {
  background: var(--lightBlack);
}

.navbar-title-light {
  /* background: var(--orange); */
  background: var(--whiteDirty);
}

.active-tab {
  background: var(--goldenYellow);
}

.navbar-title-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

/* .navbar-title-container-dark{
    background: var(--lightBlack);
}
.navbar-title-container-light{
    background: var(--whiteDirty);
} */

.resume-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0;
}
.resume-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  @media (max-width:768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.resume-page-content-wrapper {
  display: flex;
  flex-direction: row;
  padding: 24px;
  gap: 12px;
  @media (max-width:768px) {
    flex-direction: column;
  }
}
.description-dark {
  color: var(--grey);
  width: 70%;
  font-size: 16px;
}
.description-light {
  color: var(--lightBlack);
  width: 70%;
  font-size: 16px;
}

.resume-icon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 30px;
  place-items: center;
  @media (max-width:768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.outlined-text {
  font-size: 80px;
  font-weight: bold;
  color: transparent; /* Hide fill color */
  -webkit-text-stroke: 2px white; /* White outline */
  font-family: Arial, sans-serif; /* Change to match your design */
}
.resume-about-section{
    display: grid;
    justify-content: space-between;
    padding: 0 2rem;
    grid-template-columns: auto auto;
    gap: 3rem;
}